* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.burger-menu {
  color: white;
  display: none;

  cursor: pointer;
}

.nav {
  --navbar-bg: #000000d3;
  --button-border-cl: cyan;

  --button-hover-cl: ;
  --button-hover-text-cl: #000;

  display: flex;
  align-items: center;
  background-color: var(--navbar-bg);
  padding: 15px;
  position: relative;
}

.nav .list-items {
  display: flex;
  list-style: none;
  gap: 15px;
  margin-left: 15px;
}

.nav h1 {
  font-size: 18px;
}

.input {
  padding: 8px;
}

.input input {
  border: 2px solid transparent;
  transition: box-shadow 250ms, border 250ms;
  height: 90%;
  border-radius: 5px;
  padding-left: 8px;
}

.input input:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0px 4px rgba(0, 123, 255, 0.25);
}

.input button {
  padding: 8px;
  height: 90%;
  border-radius: 5px;
  border: 1px solid var(--button-border-cl);
  color: var(--button-border-cl);
  background: transparent;
  transition: background-color 250ms;
}

.input button:hover {
  background-color: var(--button-border-cl);
  color: var(--button-hover-text-cl);
}

.nav.varient-2 {
  --button-color: #fff;
  --navbar-bg: rgba(10, 64, 243, 0.953);
  --button-border-cl: white;

  --button-hover-text-cl: #000;
}

.nav.varient-3 {
  --button-color: #fff;
  --navbar-bg: rgb(105, 160, 238);
  --button-border-cl: blue;
}

.nav .list-items a {
  transition: color 250ms; /*,backgraund-color 550ms; */
  color: grey;
  text-decoration: none;
}

.nav a[aria-current="page"],
.nav a:hover {
  color: white;
}

/* max-width: 650
    ekranni uzunligi 650 dan kichkina bo'lsa

    ekranuzunligi = a

    a <= 650

    scale(1)
*/

/* specificity */
@media (max-width: 650px) {
  .menu-container {
    background: var(--navbar-bg);
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;

    flex-direction: column;
    align-items: start;
    padding-top: 12px;

    transition: 250ms;

    transform-origin: top;
  }

  .nav {
    justify-content: space-between;
  }

  .menu-container .list-items {
    width: 100%;
    flex-direction: column;
    gap: 0;
  }

  /* a - inline */
  .menu-container .list-items a {
    padding: 10px 0; 
    width: 100%;
    display: inline-block;
  }


  .menu-container.hide {
    transform: scaleY(0)
  }

  .burger-menu {
    display: block;
  }
}
